.fadeIn {
  animation: fadeIn .5s forwards;
}

.fadeOut {
  animation: fadeOut .5s forwards;
}

.scaleIn {
  animation: scaleIn .5s forwards;
}

.scaleIn_2X {
  animation: scaleIn_2x .5s forwards;
}

.MoveXToLeft {
  animation: translateXToRight .5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleIn_2x {
  0% {
    opacity: 0;
    transform: scale(2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes translateXToRight {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes flipXIn {
  0% {
    opacity: 0;
    transform: scale(1) rotateX(-70deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) rotateX(0);
  }
}