$text-color-base:rgb(255, 255, 255);
$text-color-highlight-base:rgb(145, 57, 57);
$text-color-lighter-base:#a7a7a7;
// $text-color-lighter-base:#757575;
$bg-color-base:rgb(0, 0, 0);
$body-bg-color-base:#141518;
$link-text-color-base:$text-color-base;